/* Navbar */
.navbar {
    background-color: #008fb3 !important;
}

/* Navbar Logo */
.navbar-brand {
    font-family: 'Berkshire Swash', cursive;
    font-size: 35pt;
    color: white;
}

/* Navbar Links */
.nav-link {
    color: white !important;
    font-size: 15pt;
}

/* Navbar Links On Hover */
.nav-link:hover {
    font-size: 17pt;
    color: #ffcc00 !important;
}

/* Navbar Hamburger Menu */
.navbar-toggler {
    background-color: #008fb3 !important;
    border-color: none !important;
    color: white;
    font-size: 30px;
}

/* Navbar Hamburger Menu On Hover */
.navbar-toggler:hover {
    border: none !important;
}

/* Reconfig Reactstrap Container */
.container {
    width: 100% !important;
    padding: 0;
    max-width: 2000px;
}

/* Individual Ingredients Container */
.ingredients {
    width: 230px;
    height: 445px;
    margin-bottom: 2rem;
}

/* Ingredient Body Container */
.card-body {
    padding: 0 !important;
}

/* Ingredient Picture */
.pics {
    width: 198px;
    height: 200px !important;
    object-fit: cover;
}

hr {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

/* Ingredient Name */
.card-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Ingredient Expiry Date */
.expires {
    margin-left: auto;
    margin-right: auto;
    width: 100px !important;
    text-align: center;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}

/* Edit Button */
.editButton {
    width: 94px;
}

/* Delete Button */
.deleteButton {
    width: 94px;
}

/* All Button Colors */
button {
    background-color: #00b8e6 !important;
    border: none !important;
    box-shadow: 1px 1px grey;
}

/* All Button Hover Effects */
button:hover {
    background-color: #99ebff !important;
    color: black !important;
}

/* Ingredient Added On Date */
.boughtOn {
    height: 36px;
    background-color: #b3f0ff;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 1px grey;
}

/* Ingredient Added On Date Label*/
.boughtOn span {
    font-weight: bold;
}

/* Search Bar */
.searchBar {
    width: 230px !important;
    font-size: 15pt;
}

/* Edit Modal Header */
.modal-header {
    background-color: #008fb3 !important;
    color: white;
}

/* Edit Modal Close Button */
.close {
    background-color: transparent !important;
    height: 60px;
}

/* About Us Text Container */
.jumbotron {
    font-family: 'Sarala', sans-serif;
    width: 100% !important;
    height: 800px;
    background-color: #ffffcc;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    bottom: 0;
}

/* About Us Header */
.lead {
    font-size: 20pt;
}

/* About Us Details */
.details {
    padding-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 13pt;
}

/* About Us Footer */
.footer {
    width: 100%;
    background-color: #008fb3;
    height: 106px;
    bottom: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
    justify-content: center;
}

/* About Us Footer Icons */
.footer-icons {
    width: 90px;
    height: 90px;
    padding-top: 15px;
}

/* About Us Footer Icons On Hover */
.footer-icons:hover {
    width: 95px;
    height: 95px;
    filter: invert(90%);
}
